//
   Created by Wilsons on 5/11/17.

doctype html
html.no-js(lang="en")
    include partials/head.pug

    body
        .masthead
            <!--[if lt IE 8]>
                p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
            <![endif]-->
            if notification.active
                p.notifications= notification.message
            .progress
                .progress__bar.t1

        .wrapper.home
            .page__backdrop.page__backdrop--bg1
            <!-- Header Section -->
            header.header
                .header__fill.header__fill--cap.

                svg.knockoutTitle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1366 348')
                    defs
                        style.
                            .a {
                                fill: #fff;
                            }
                    title Web Dev + Unicorn
                    text Web Dev + Unicorn
                    path.a(d='M613.55,218.83c-21.84,0-39.31,17.47-39.31,41,0,24.53,17.47,42.67,39.31,42.67s39.31-18.14,39.31-42.67C652.86,236.3,635.39,218.83,613.55,218.83Zm121.8.84H718.88V257h19.49c11.59,0,18.82-6.89,18.82-18.82C757.18,226.72,752.31,219.67,735.34,219.67ZM458.82,122.35c0-9.91-6.38-17.14-17.3-17.14H418.33v34.44h23.18C452.61,139.65,458.82,132.43,458.82,122.35ZM0,0V348H1366V0ZM669.49,39h71.4V57.67H691.17V88.91h40.15v18.65H691.17v32.09h52.42V158.3H669.49ZM396.66,39h42.67c21.5,0,36.79,11.09,36.79,30.74,0,11.09-5.38,20.66-14.45,25.54v.34c13.1,3.86,19.32,16,19.32,28.06,0,23.86-19.15,34.61-41.16,34.61H396.66ZM232.36,277.46c0,26.71-19.32,44.86-48,44.86-28.9,0-48.22-18.14-48.22-44.86V201h21.67v76.44c0,16,10.42,25,26.38,25s26.54-9.07,26.54-25.2V201h21.67ZM225,158.3,206.66,87.74a142.17,142.17,0,0,1-3-15.62h-.34a142,142,0,0,1-3,15.62L182,158.3h-25L127,39h22.34l18.82,82.49a105.49,105.49,0,0,1,2,12.6h.34a94.33,94.33,0,0,1,2.18-12.6L194.22,39H213l21.17,82.49a94.33,94.33,0,0,1,2.18,12.6h.34a105.49,105.49,0,0,1,2-12.6L258.4,39h22.34L250,158.3Zm133.39,162h-21.5l-45.19-68.71c-4.54-6.89-9.91-18.48-9.91-18.48h-.34s1.18,11.42,1.18,18.48V320.3H260.92V201h21.67l45.19,68.88c4.54,6.89,9.91,18.48,9.91,18.48H338s-1.18-11.42-1.18-18.48V201h21.5Zm15.79-162H300.06V39h71.4V57.67H321.73V88.91h40.15v18.65H321.73v32.09h52.42Zm36.12,162H388.6V201h21.67Zm83.66,2c-36.46,0-61.66-27-61.66-62.16,0-34.61,26.21-61.15,61.32-61.15,29.06,0,44,16.3,44,16.3L527.2,231.43s-13.61-12.6-32.59-12.6c-25.2,0-40,18.82-40,41,0,22.68,15.29,42.67,40.15,42.67,20.66,0,34.61-15.12,34.61-15.12L540.8,303S524.34,322.31,493.93,322.31ZM545.34,39H586c36.79,0,60.82,21.84,60.82,59.47s-24,59.81-60.82,59.81H545.34Zm68.2,283.3c-35.11,0-61.66-27.38-61.66-62.5,0-34.1,26.54-60.82,61.66-60.82s61.66,26.71,61.66,60.82C675.2,294.93,648.66,322.31,613.55,322.31Zm149.86-2-23.69-44.52H718.88V320.3H697.21V201h38.47c12.94,0,18.82,1,24,3.36,11.93,5.38,19.49,16.8,19.49,32.59,0,14.28-7.56,27.55-20.16,32.59v.34a29.18,29.18,0,0,1,4,5.88l24.53,44.52ZM750.8,39h23.35l26.21,77.78c2.35,6.89,4.37,17.47,4.54,17.47h.34c.17,0,2.18-10.58,4.54-17.47L836.15,39h23.18L815.82,158.3h-21.5ZM905.19,320.3h-21.5L838.5,251.59c-4.54-6.89-9.91-18.48-9.91-18.48h-.34s1.18,11.42,1.18,18.48V320.3H807.75V201h21.67l45.19,68.88c4.54,6.89,9.91,18.48,9.91,18.48h.34s-1.18-11.42-1.18-18.48V201h21.5ZM998.1,118.65H961.81V158.3h-17.3V118.65H908.22V102h36.29V62.2h17.3V102H998.1Zm-544-46.2c0-8.57-5-14.78-15.12-14.78H418.33V87.74h21C448.74,87.74,454.12,81,454.12,72.45Zm170.35,26c0-26.54-15.79-40.82-39.65-40.82H567v82h17.81C609,139.65,624.47,125.37,624.47,98.49Z')

                .header__fill.header__fill--trail
                    .header__tagline
                       h1.content__title Designer. Frontender. Project Manager. Analyst. UX Wonk. Seafaring Story-teller.

            <!-- End Header Section -->

            <!-- Intro Section -->
            section.section.intro(data-placemark="#intro", id="intro")
                h1.content--nomargin.content__title.content--white.animated.slide--left.fade--in.t1 Hello, I'm Jason.
                h1.content--nomargin.content__title.content--white.animated.slide--left.fade--in.t1 Pleased to be of service.
                p.content.content--white.animated.slide--left.fade--in.t1 No time to chat? Please <a class="content--white content__link" href="files/2018-05-07_JasonWilson_CurriculumVitae_EU.pdf"
                    | download="#{moment(Date.now()).format('YYYY-MM')}_JasonWilson_CV" >
                    | download my CV</a> <span class="fa content--white content__fa fa-file-pdf-o"></span> and drop me a line when you can
                    | at <a class="content--white content__link" href="mailto:jason@wilsons.io">Jason@Wilsons.io</a>.
            <!-- End Intro -->

            <!-- Offerings Section -->
            section.section.offerings.columns.columns--2(data-placemark="#offerings", id="offerings")
                article.offerings__area
                    h1.content__title What I offer...
                    ul.content__list
                        li.content__list-item At home in the Frontend realm
                        li.content__list-item An eye for functional, user-friendly designs
                        li.content__list-item Curiosity about new technologies
                        li.content__list-item Driven to grow myself and my teammates
                        li.content__list-item A thirst for Dev and UX knowledge
                        li.content__list-item Leadership and mentoring skills
                        li.content__list-item Friendly and supportive personality
                        li.content__list-item Comfortable speaker
                        li.content__list-item The occasional relevant sea-story
                        li.content__list-item Free samples!
                            | <a class="content__link" href="https://github.com/sgiobairog" target="_blank"><span class="fa inline__fa fa-github"></span></a>
                            | <a class="content__link" href="https://codepen.io/sgiobairog" target="_blank"><span class="fa inline__fa fa-codepen"></span></a>
                            | <a class="content__link" href="https://medium.com/@Wilsons.io" target="_blank"><span class="fa inline__fa fa-medium"></span></a>
                            | <a class="content__link" href="https://www.behance.net/JasonPaulWilson" target="_blank"><span class="fa inline__fa fa-behance"></span></a>
                article.offerings__area
                    h1.content__title What you offer...
                    ul.content__list
                        li.content__list-item Close-knit, agile, professional team
                        li.content__list-item An inspiring workspace
                        li.content__list-item Variety of projects in which to participate
                        li.content__list-item Training and/or Education Budget
                        li.content__list-item Conference attendee/speaker opportunities
                        li.content__list-item Opportunities to try new things
                        li.content__list-item Challenging problems to solve
                        li.content__list-item Reasonably flexible working hours
                        li.content__list-item Offices in Switzerland or Germany
                        li.content__list-item Feedback to help me help us all
            <!-- End Offerings -->

            <!-- Spacer Section -->
            section.section.spacer
                p.content.content--white.content--small NOAA Ship Fairweather, my first sea-going assignment and where I first encountered
                    |  UX in the form of Human Factors.
            <!-- End Spacer -->

            <!-- Projects Section -->
            section.section.projects(data-placemark="#projects", id="projects")
                h1.content__title Recent Projects and Collabs

                .columns.columns--2
                    article.project__area
                        label.content.content--small Serverless, NodeJS, Lambda
                        h1.content.content--nomargin <span class="content--heavy">Nav-O</span>, Alexa Skill
                        p.content.content--nomargin Alexa Skill for retrieving public tide guage and water-level data in the US written with NodeJS and the Serverless Framework. Responds to user requests with the current water level at any of the ~10,000 active measuring stations run by NOAA and USGS.
                        p.content.content--nomargin
                            a.content.content__link(href="https://www.code4hr.org") Built for Code for Hampton Roads
                        p.content.content--nomargin
                            a.content.content__link(href="https://www.github.com/sgiobairog/cumber-bot") View the source at GitHub <span class="fa fa-github"></span>

                    article.project__area
                        label.content.content--small Pug, Sass, ES6
                        h1.content.content--nomargin <span class="content--heavy">Seven Candles</span>, Frontend
                        p.content.content--nomargin Popular Mechanics inspired me to make a Pug, SASS, and JavaScript implementation of their <a href="https://www.popularmechanics.com/science/math/a26818/riddle-of-the-week-30-seven-candles/" target="_blank">candle riddle</a>.
                        p.content.content--nomargin
                            a.content.content__link(href="https://codepen.io/SgiobairOg/pen/rweGQz/") See it in action at Codepen <span class="fa fa-codepen"></span>

                    article.project__area
                        label.content.content--small Typescript
                        h1.content.content--nomargin <span class="content--heavy">Color Vision - VS Code Plugin</span>, Frontend
                        p.content.content--nomargin Plugin for the VS Code Editor to aid in visualising colours while editing files for the <a href="https://www.github.com/Meodai/color-names" target="_blank">Color Names Project</a>
                        p.content.content--nomargin
                            a.content.content__link(href="https://github.com/SgiobairOg/color-vision") View the sources at GitHub <span class="fa fa-github"></span>

                    article.project__area
                        label.content.content--small PHP, JS, HTML5, CSS
                        h1.content.content--nomargin <span class="content--heavy">Project Phoenix</span>, Wordpress
                        p.content.content--nomargin Working on tweaking custom components and layouts for a Wordpress-based inventory management platform, can't share details at the moment though.

            <!-- End Projects -->

            <!-- Spacer Section -->
            section.section.spacer
                p.content.content--white.content--small Making candles at the Zürcher Kurzenziehen, during our visit in 2016, while my
                    |  daughter Aislin watches on.
            <!-- End Spacer -->

            <!-- Experience Section -->
            section.section.experience
                h1.content__title(data-placemark="#experience") My Journey
                .columns.columns--2
                    article.experience__area
                        label.content.content--small Apr 2019 to Present
                        h1.content.content--nomargin <span class="content--heavy">Infocentric / Swisscom</span>, Zürich
                        a.content.content__link(href="https://swisscom.ch") Swisscom.ch
                        p.content.content--nomargin Independent Frontend Consultant

                    article.experience__area
                        label.content.content--small Sep 2016 to Present
                        h1.content.content--nomargin <span class="content--heavy">Independent/Freelance</span>
                        a.content.content__link(href="https://www.wilsons.io") Wilsons.io
                        p.content.content--nomargin Fullstack Projects, UX, Design

                    article.experience__area
                        label.content.content--small Jul 2018 to Feb 2019
                        h1.content.content--nomargin <span class="content--heavy">Cultural Care - Education First</span>, Luzern
                        a.content.content__link(href="https://culturalcare.com") CulturalCare.com
                        p.content.content--nomargin Frontend Developer

                    article.experience__area
                        label.content.content--small Jan 2017 to Jun 2018
                        h1.content.content--nomargin <span class="content--heavy">Trader Interactive</span>, Norfolk, VA
                        a.content.content__link(href="https://traderinteractive.com") TraderInteractive.com
                        p.content.content--nomargin Business Analyst, Frontend Mentor

                    article.experience__area
                        label.content.content--small Aug 2009 to Sep 2016
                        h1.content.content--nomargin <span class="content--heavy">NOAA Corps</span>, United States
                        a.content.content__link(href="http://www.noaacorps.noaa.gov") NOAACorps.NOAA.gov
                        p.content.content--nomargin Administration, Hydrographic Survey, Ships Navigation, Public Outreach

                    article.experience__area
                        label.content.content--small Dec 2008 to Jul 2009
                        h1.content.content--nomargin <span class="content--heavy">L-3 Communications</span>, Yorktown, VA
                        p.content.content--nomargin Fullstack PHP, Database, Website Design, Graphics, Actionscript, Moodle

                    article.experience__area
                        label.content.content--small Jul 2006 to Dec 2008
                        h1.content.content--nomargin <span class="content--heavy">UNITECH</span>, Yorktown, VA
                        p.content.content--nomargin Fullstack PHP, Database, Website Design, Graphics, Actionscript, Moodle

                    article.experience__area
                        label.content.content--small 2005 to Jul 2006
                        h1.content.content--nomargin <span class="content--heavy">Trader Publishing</span>, Virginia Beach, VA
                        p.content.content--nomargin Frontend, ColdFusion, Javascript

                    article.experience__area
                        label.content.content--small 2005
                        h1.content.content--nomargin <span class="content--heavy">Neboweb Internship</span>, Virginia Beach, VA
                        p.content.content--nomargin Frontend, Remote

                h1.content__title.content__title--lead(data-placemark="#volunteer", id="volunteer") Volunteer Work
                .columns.columns--2
                    article.experience__area
                        label.content.content--small Feb 2017 to Present
                        h1.content.content--nomargin <span class="content--heavy">Coastal Virginia GAA</span>, Norfolk, VA
                        p.content.content--nomargin Social Media, Graphic Design, Branding
                    article.experience__area
                        label.content.content--small Feb 2012 to Feb 2015
                        h1.content.content--nomargin <span class="content--heavy">Hampton Roads Hurling Club</span>, Norfolk, VA
                        p.content.content--nomargin Social Media, Graphic Design, Branding, Goaltender, Corner Forward

                    article.experience__area
                        label.content.content--small Oct 2007 to Sep 2009
                        h1.content.content--nomargin <span class="content--heavy">U.S. Coast Guard Auxiliary</span>, Gloucester, VA
                        p.content.content--nomargin Graphics Design, Web Design, Communications, Boating Safety Instructor

            <!-- End Experience -->
            footer.section.footer(data-placemark="#contact", id="contact")
                h1.content__title.content--white Can I do great things as part of your team? Please get in touch!
                p.content.content--white Jason Wilson: Jason@Wilsons.io
                p.content.content--white <a class="footer__method" href="https://github.com/sgiobairog" target="_blank">
                    | <span class="fa footer__fa fa-github"></span></a><a class="footer__method" href="https://codepen.io/sgiobairog" target="_blank">
                    | <span class="fa footer__fa fa-codepen"></span></a><a class="footer__method" href="https://twitter.com/WilsonUponSea" target="_blank">
                    | <span class="fa footer__fa fa-twitter"></span></a> <a class="footer__method" href="https://www.linkedin.com/in/jasonpaulwilson/" target="_blank">
                    | <span class="fa footer__fa fa-linkedin"></span></a> <a class="footer__method" href="https://www.facebook.com/wilsons.upon.web/" target="_blank">
                    | <span class="fa footer__fa fa-facebook"></span></a> <a class="footer__method" href="https://medium.com/@Wilsons.io" target="_blank">
                    | <span class="fa footer__fa fa-medium"></span></a> <a class="footer__method" href="https://www.behance.net/JasonPaulWilson" target="_blank">
                    | <span class="fa footer__fa fa-behance"></span></a>
                a.button.t2(href="mailto:jason@wilsons.io") Email me

            section.endcap
                p.content.content--heavy.content--white For the curious and the details oriented, this site is built on NodeJS and Express, is deployed on Heroku, and is rendered with Pug, SASS, and ES6.
                p.content.content--heavy.content--white Inspired by <a href="https://www.dagmarmuth.com">Dagmar Muth</a> and my daughter's never-ending unicorn-induced joy.
                
        script(src="js/vendor/lodash.custom.min.js")
        script(src="js/main.build.min.js")



        script.
          (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
            a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src   = g;
            m.parentNode.insertBefore(a, m)
          })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

          ga('create', 'UA-99023238-1', 'wilsons.io');
          ga('send', 'pageview');

          //Handle Zero Time on Page Issue with Google
          window.onbeforeunload = function (e) {
            e = e || window.event;

            //IE and Firefox
            if (e) {
              _gaq.push(['_trackPageview', '/bounce']);
            }

            // For safari & chrome
            return _gaq.push(['_trackPageview', '/bounce']);
          }
