/* Jason Wilson @WilsonUponSea */
/* ==========================================================================
   Base styles
   @mixin ========================================================================= */
html, body {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img,
svg {
  vertical-align: middle; }

/* ========================================================================
  Typography
  @mixin ======================================================================= */
body {
  font-size: 24px;
  font-size: 3vw; }
  @media (max-width: 600px) {
    body {
      font-size: 18px; } }
  @media (min-width: 800px) {
    body {
      font-size: 24px; } }

.content, .content__title, .notifications, .button, .four-oh-four__title, .content__list-item, .browserupgrade, .footer__method, .four-oh-four__content {
  font-size: 1em;
  font-family: "museo-sans", sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  color: #0f0f0f; }
  .content--white {
    color: #f0f0f0; }
  .content--small {
    font-size: .5em;
    font-weight: 100; }
  .content--heavy {
    font-weight: 700; }
  .content--nomargin {
    margin-top: 0;
    margin-bottom: 0; }
  .content__link:link {
    color: rgba(112, 194, 247, 0.8);
    text-decoration: none;
    border-bottom: 1px solid rgba(112, 194, 247, 0.4); }
  .content__link:visited {
    color: #70c2f7;
    border-bottom: 1px dashed rgba(112, 194, 247, 0.4); }
  .content__link:hover {
    color: rgba(112, 194, 247, 0.8);
    text-decoration: underline; }
  .content__link:active {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline; }
  .content__title, .notifications, .button, .four-oh-four__title {
    display: block;
    font-weight: 700;
    font-size: 2.6em;
    line-height: 1.2em; }
    .content__title--lead {
      margin-top: 1.5em; }
    .content__title:last-of-type, .notifications:last-of-type, .button:last-of-type, .four-oh-four__title:last-of-type {
      margin-bottom: 1em; }
  .content__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; }
  .content__list-item {
    margin-bottom: .5em; }

.inline__fa {
  margin: 0 5px; }

/* ========================================================================
   Masthead
   @mixin ======================================================================= */
.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99999; }

/* ==========================================================================
   Browser Upgrade Prompt
   @mixin ========================================================================= */
.browserupgrade {
  background: #ddd;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   notification message
   @mixin ========================================================================= */
.notifications {
  margin: 0;
  font-size: 1em;
  background: #365e78;
  color: white;
  padding: 0.6em 10vw; }

/* ==========================================================================
   Progress Bar
   @mixin ========================================================================= */
.progress {
  margin: 0;
  width: 100vw;
  height: 5px;
  background: transparent; }
  .progress__bar {
    background: #70c2f7;
    background: linear-gradient(to right, #70c2f7 0%, #7badcb 100%);
    width: 0%;
    height: 100%; }

/* ==========================================================================
   Page Wrapper
   @mixin ========================================================================= */
.wrapper {
  width: 100vw;
  min-height: 100vh; }

.page__backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -99; }
  .page__backdrop--bg1 {
    background: url("../img/moi.jpg") no-repeat fixed center;
    background-size: cover; }
  .page__backdrop--bg2 {
    background: url("../img/fairweather.jpg") no-repeat fixed center;
    background-size: cover; }
  .page__backdrop--bg3 {
    background: url("../img/candles.jpg") no-repeat fixed center;
    background-size: cover; }
  .page__backdrop--bg4 {
    background: url("../img/desk.jpg") no-repeat fixed center;
    background-size: cover; }

/* ==========================================================================
   Header Section
   @mixin ========================================================================= */
.header {
  display: flex;
  flex-flow: column nowrap;
  height: 90vh; }
  .header__tagline {
    margin: 1em 9.4vw; }
  .header__fill {
    background: white;
    flex: 1 0 auto; }
    .header__fill--cap {
      min-height: 1.5em; }

.knockoutTitle {
  flex: 0 0 auto; }

/* ==========================================================================
   Basic Section Styles
   @mixin ========================================================================= */
.section, .endcap, .tween {
  width: 100%;
  box-sizing: border-box;
  padding: 3em 9.4vw;
  min-height: 90vh; }

/* ==========================================================================
   Intro Section
   @mixin ========================================================================= */
.intro {
  color: white;
  margin-top: 42vh;
  min-height: 58vh;
  background: rgba(70, 70, 120, 0.4); }

/* ==========================================================================
   Offerings Section
   @mixin ========================================================================= */
.offerings {
  background: white; }
  .offerings__area {
    padding-top: 2em; }

/* ==========================================================================
   Spacer Section
   @mixin ========================================================================= */
.spacer {
  background: rgba(70, 70, 120, 0.4);
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

/* ==========================================================================
   Experience Section
   @mixin ========================================================================= */
.experience {
  background: white; }
  .experience__area {
    margin-bottom: 1.2em; }
    .experience__area:last-of-type {
      margin-bottom: 0; }

/* ==========================================================================
   Projects Section
   @mixin ========================================================================= */
.projects {
  background: white; }

.project__area {
  margin-bottom: 2.5em; }
  .project__area:last-of-type {
    margin-bottom: 0; }

/* ==========================================================================
   Grid Sections
   @mixin ========================================================================= */
.columns {
  width: 100%; }
  @supports (grid-row-gap: 4.7vw) {
    .columns {
      display: grid; } }
  @supports not (grid-row-gap: 4.7vw) {
    .columns {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch; } }
  @supports (grid-row-gap: 4.7vw) {
    .columns--2 {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 4.7vw;
      grid-row-gap: 4.7vw; }
      @media screen and (min-width: 760px) {
        .columns--2 {
          grid-template-columns: repeat(2, 1fr); } } }
  @supports not (grid-row-gap: 4.7vw) {
    .columns--2__cell {
      margin: 4.7vw;
      flex: 0 0 100%; }
      @media screen and (min-width: 760px) {
        .columns--2__cell {
          flex: 0 0 50%; }
          .columns--2__cell:nth-child(-n+2) {
            margin-top: 0; }
          .columns--2__cell:nth-child(1n) {
            margin-left: 0; }
          .columns--2__cell:nth-child(2n) {
            margin-right: 0; } } }

/* ==========================================================================
   Footer Section
   @mixin ========================================================================= */
.footer {
  background: rgba(70, 70, 120, 0.4);
  margin-top: 42vh;
  min-height: 58vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center; }
  .footer__method {
    text-decoration: none;
    line-height: 3em;
    color: white; }
  .footer__fa {
    padding: .5em;
    font-size: 2.5em;
    display: inline-block;
    border: 1px solid white;
    border-radius: .1em;
    min-width: 2em;
    line-height: 3em;
    text-align: center;
    margin: 0 .1em;
    background: rgba(255, 255, 255, 0); }

.fa:hover {
  transform: scale(1.2, 1.2);
  background: white;
  transition: all 200ms linear; }
  .fa:hover.fa-github {
    color: black; }
  .fa:hover.fa-codepen {
    color: black; }
  .fa:hover.fa-twitter {
    color: #4099ff; }
  .fa:hover.fa-linkedin {
    color: #0077b5; }
  .fa:hover.fa-facebook {
    color: #3b5998; }
  .fa:hover.fa-medium {
    color: #02b875; }
  .fa:hover.fa-behance {
    color: #2b2b2b; }

.button {
  display: block;
  background: #70c2f7;
  background: linear-gradient(to right, #70c2f7 0%, #7badcb 100%);
  color: white;
  font-size: 1.1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
  .button:hover {
    transform: scale(1, 1.1); }

.endcap {
  min-height: 0;
  padding-top: 2vw;
  padding-bottom: 4vw;
  margin: 0;
  background: #70c2f7;
  background: linear-gradient(to right, #70c2f7 0%, #7badcb 100%); }

.four-oh-four {
  background: white; }

/* ==========================================================================
  Animations
  @mixin ========================================================================== */
.animated.slide-left {
  transform: translateX(0); }
  .animated.slide-left.inactive {
    transform: translateX(-30%); }

.animated.scale {
  transform: scale(1, 1); }
  .animated.scale.inactive {
    transform: scale(0, 0); }

.animated.fade-in {
  opacity: 1; }
  .animated.fade-in.inactive {
    opacity: 0; }

.t1 {
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.t2 {
  transition: all 300ms cubic-bezier(0.395, 0.89, 0.68, 1.65); }

/* ==========================================================================
   Helper classes
   @mixin ========================================================================= */
.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }
