//
   Created by Wilsons on 6/26/17.

<!-- Value Section -->

section.section.intro
    h1.intro__title.animated.slide-left.fade-in.t1 I built my first Alexa Skill, using Serverless Framework, NodeJS, and AWS Lambda, and got it published to the store.
    a.button.t2(href="https://www.amazon.com/Jason-Wilson-CumberBot/dp/B073BL81K7") Give it a try in the Alexa Store <span class="fa footer__fa fa-amazon"></span>
    h1.intro__title.animated.slide-left.fade-in.t1 Popular Mechanics inspired me to make a Pug, SASS, and JavaScript implementation of their <a href="http://www.popularmechanics.com/science/math/a26818/riddle-of-the-week-30-seven-candles/" target="_blank">candle riddle</a>
    a.button.t2(href="https://codepen.io/SgiobairOg/pen/rweGQz/") See it in action at Codepen <span class="fa footer__fa fa-codepen"></span>
<!-- End Value -->