//
   Created by Wilsons on 6/26/17.

<!-- Value Section -->

section.section.value
    aside.value__aside
        h1.value__aside__title.animated.slide-left.fade-in.t1 Popular Mechanics inspired me to make <a href="https://codepen.io/SgiobairOg/pen/rweGQz/">this Pug, SASS, and JavaScript implementation</a> of their <a href="http://www.popularmechanics.com/science/math/a26818/riddle-of-the-week-30-seven-candles/" target="_blank">candle riddle</a>.
        | <a href="https://codepen.io/SgiobairOg/pen/rweGQz/">See it in action at Codepen</a>.

<!-- End Value -->