//
   Created by Wilsons on 6/26/17.

<!-- Value Section -->

section.section.value
    aside.value__aside
        h1.value__aside__title.animated.slide-left.fade-in.t1 Popular Mechanics inspired me to make this Pug, SASS, and JavaScript implementation of their <a href="http://www.popularmechanics.com/science/math/a26818/riddle-of-the-week-30-seven-candles/" target="_blank">candle riddle</a>.
    .value__content
        <p data-height="530" data-theme-id="dark" data-slug-hash="rweGQz" data-default-tab="result" data-user="SgiobairOg" data-embed-version="2" data-pen-title="PM Seven Candles" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/SgiobairOg/pen/rweGQz/">PM Seven Candles</a> by Jason Wilson (<a href="https://codepen.io/SgiobairOg">@SgiobairOg</a>) on <a href="https://codepen.io">CodePen</a>.</p>
        <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<!-- End Value -->