/* Jason Wilson @WilsonUponSea */
@mixin responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == 'vh', 'height', 'width')
  $min-breakpoint: $min / $responsive-unitless * 100

  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min


  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100

    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max

  @if $fallback
    font-size: $fallback

  font-size: $responsive

/* ==========================================================================
   Base styles
   ========================================================================== */

html, body  //Reset
  margin: 0
  padding: 0

::-moz-selection
  background: #b3d4fc
  text-shadow: none


::selection
  background: #b3d4fc
  text-shadow: none


// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440

img,
svg
  vertical-align: middle

/* ========================================================================
  Typography
  ======================================================================== */

body
  @include responsive-font(3vw, 18px, 24px, 24px)

.content
  font-size: 1em
  font-family: "museo-sans", sans-serif
  line-height: 1.4em
  font-weight: 300
  color: #0f0f0f

  &--white
    color: #f0f0f0

  &--small
    font-size: .5em
    font-weight: 100

  &--heavy
    font-weight: 700

  &--nomargin
    margin-top: 0
    margin-bottom: 0

  &__link
    &:link
      color: rgba(112,194,247,.8)
      text-decoration: none
      border-bottom: 1px solid rgba(112,194,247,.4)

    &:visited
      color: rgba(112,194,247,1)
      border-bottom: 1px dashed rgba(112,194,247,.4)

    &:hover
      color: rgba(112,194,247,.8)
      text-decoration: underline

    &:active
      color: rgba(0,0,0,.8)
      text-decoration: underline

  &__title
    @extend .content
    display: block
    font-weight: 700
    font-size: 2.6em
    line-height: 1.2em

    &--lead
      margin-top: 1.5em

    &:last-of-type
      margin-bottom: 1em

  &__list
    list-style-type: none
    margin: 0
    padding: 0
    width: 100%

  &__list-item
    @extend .content
    margin-bottom: .5em


.inline__fa
  //min-width: 44px
  margin: 0 5px

/* ========================================================================
   Masthead
   ======================================================================== */
.masthead
  position: fixed
  top: 0
  left: 0
  width: 100vw
  z-index: 99999

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade
  @extend .content
  background: #ddd
  color: #000
  padding: 0.2em 0

/* ==========================================================================
   notification message
   ========================================================================== */
.notifications
  @extend .content__title
  margin: 0
  font-size: 1em
  background: rgba(54,94,120,1)
  color: white
  padding: 0.6em 10vw

/* ==========================================================================
   Progress Bar
   ========================================================================== */

.progress
  margin: 0
  width: 100vw
  height: 5px
  background: transparent

  &__bar
    //background: rgba(224,45,0,1)
    //background: linear-gradient(to right, rgba(224,45,0,1) 0%, rgba(235,10,255,1) 100%)
    background: rgba(112,194,247,1)
    background: linear-gradient(to right, rgba(112,194,247,1) 0%, rgba(123,173,203,1) 100%)
    width: 0%
    height: 100%

/* ==========================================================================
   Page Wrapper
   ========================================================================== */

.wrapper
  width: 100vw
  min-height: 100vh

.page__backdrop
  width: 100vw
  height: 100vh
  position: fixed
  z-index: -99

  &--bg1
    background: url("https://res.cloudinary.com/sgiobairog/image/upload/q_auto:good/v1501190314/wilsons/moi.jpg") no-repeat center center
    background-size: cover

  &--bg2
    background: url("https://res.cloudinary.com/sgiobairog/image/upload/q_auto:good/v1501190314/wilsons/fairweather.jpg") no-repeat center center
    background-size: cover

  &--bg3
    background: url("https://res.cloudinary.com/sgiobairog/image/upload/q_auto:good/v1501190314/wilsons/candles.jpg") no-repeat center center
    background-size: cover

  &--bg4
    background: url("https://res.cloudinary.com/sgiobairog/image/upload/q_auto:good/v1501190314/wilsons/desk.jpg") no-repeat center center
    background-size: cover

/* ==========================================================================
   Header Section
   ========================================================================== */

.header
  display: flex
  flex-flow: column nowrap
  min-height: 90vh

  &__tagline
    margin: 1em 9.4vw

  &__fill
    background: white
    flex: 1 0 auto

    &--cap
      min-height: 1.5em

.knockoutTitle
  flex: 0 0 auto

/* ==========================================================================
   Basic Section Styles
   ========================================================================== */

.section, .tween
  width: 100%
  box-sizing: border-box
  padding: 3em 9.4vw
  min-height: 90vh

/* ==========================================================================
   Intro Section
   ========================================================================== */

.intro
  color: white
  margin-top: 42vh
  min-height: 58vh
  background: rgba(70, 70, 120, 0.4)

/* ==========================================================================
   Offerings Section
   ========================================================================== */

.offerings
  background: white

  &__area
    // Typography
    padding-top: 2em

/* ==========================================================================
   Spacer Section
   ========================================================================== */
.spacer
  background: rgba(70, 70, 120, 0.4)
  height: 90vh
  display: flex
  justify-content: flex-end
  align-items: flex-end


/* ==========================================================================
   Experience Section
   ========================================================================== */

.experience
  background: white

  &__area
    margin-bottom: 1.2em

    &:last-of-type
      margin-bottom: 0

/* ==========================================================================
   Projects Section
   ========================================================================== */

.projects
  background: white

.project__area
  margin-bottom: 2.5em

  &:last-of-type
    margin-bottom: 0

/* ==========================================================================
   Grid Sections
   ========================================================================== */

.columns
  width: 100%

  @supports (grid-row-gap: 4.7vw)
    display: grid

  @supports not (grid-row-gap: 4.7vw)
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: stretch

  &--2
    @supports (grid-row-gap: 4.7vw)
      grid-template-columns: repeat(1, 1fr)
      grid-column-gap: 4.7vw
      grid-row-gap: 4.7vw

      @media screen and (min-width: 760px)
        grid-template-columns: repeat(2, 1fr)

    &__cell
      @supports not (grid-row-gap: 4.7vw)
        margin: 4.7vw
        flex: 0 0 100%

        @media screen and (min-width: 760px)
          flex: 0 0 50%

          &:nth-child(-n+2)
            margin-top: 0

          &:nth-child(1n)
            margin-left: 0

          &:nth-child(2n)
            margin-right: 0

/* ==========================================================================
   Footer Section
   ========================================================================== */

.footer
  background: rgba(70, 70, 120, 0.4)
  margin-top: 42vh
  min-height: 58vh
  display: flex
  flex-flow: column nowrap
  justify-content: flex-end
  align-items: center

  &__method
    @extend .content
    text-decoration: none
    line-height: 3em
    color: white

  &__fa
    padding: .5em
    font-size: 2.5em
    display: inline-block
    border: 1px solid white
    border-radius: .1em
    min-width: 2em
    line-height: 3em
    text-align: center
    margin: 0 .1em
    background: rgba(255,255,255,0)

.fa

  &:hover
    transform: scale(1.2,1.2)
    background: rgba(255,255,255,1)
    transition: all 200ms linear

    &.fa-github
      color: rgba(0,0,0,1)

    &.fa-codepen
      color: rgba(0,0,0,1)

    &.fa-twitter
      color: rgba(64,153,255,1)

    &.fa-linkedin
      color: rgba(0,119,181,1)

    &.fa-facebook
      color: rgba(59,89,152,1)

    &.fa-medium
      color: rgba(2,184,117,1)

    &.fa-behance
      color: rgb(43, 43, 43)

.button
  @extend .content__title
  display: block
  background: rgba(112,194,247,1)
  background: linear-gradient(to right, rgba(112,194,247,1) 0%, rgba(123,173,203,1) 100%)
  color: white
  font-size: 1.1em
  padding: 1em
  text-align: center
  text-decoration: none
  width: 100%
  margin: 0 auto
  box-sizing: border-box

  &:hover
    transform: scale(1.0,1.1)

.endcap
  @extend .section
  min-height: 0
  padding-top: 2vw
  padding-bottom: 4vw
  margin: 0
  background: rgba(112,194,247,1)
  background: linear-gradient(to right, rgba(112,194,247,1) 0%, rgba(123,173,203,1) 100%)

.four-oh-four
  background: white

  &__title
    @extend .content__title

  &__content
    @extend .content

/* ==========================================================================
  Animations
  =========================================================================== */

.animated
  &.slide-left
    transform: translateX(0)
    &.inactive
      transform: translateX(-30%)

  &.scale
    transform: scale(1,1)
    &.inactive
      transform: scale(0,0)

  &.fade-in
    opacity: 1
    &.inactive
      opacity: 0

.t1
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94)

.t2
  transition: all 300ms cubic-bezier(0.395, 0.890, 0.680, 1.650)

/* ==========================================================================
   Helper classes
   ========================================================================== */

// Hide visually and from screen readers

.hidden
  display: none !important



// Hide only visually, but have it available for screen readers:
//  http://snook.ca/archives/html_and_css/hiding-content-for-accessibility


.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

  &.focusable:active, &.focusable:focus
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto


// Hide visually and from screen readers, but maintain layout


.invisible
  visibility: hidden

